{% extends 'admin/base.html' %}

{% block title %}Create Project{% endblock %}

{% block content %}
<h1>Create Project</h1>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.image_url.label(class="form-label") }}
        {{ form.image_url(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.url.label(class="form-label") }}
        {{ form.url(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
