{% extends "base.html" %}

{% block title %}Главная - Viste's Lab{% endblock %}

{% block content %}
<h1>Привет, я {{ nick }}</h1>
<p>Разрабатываю всякое, вот такие есть проекты:</p>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <a href="{{ project.url }}" target="_blank">
                <img src="{{ project.image_url }}" class="card-img-top" alt="{{ project.name }}">
            </a>
            <div class="card-body">
                <p class="card-text">{{ project.name }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
