{% extends 'index.html' %}

{% block content %}
<h2>Смена пароля</h2>
<form method="POST" action="{{ url_for('views.change_password') }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.current_password.label }}<br>
        {{ form.current_password(size=32) }}
    </p>
    <p>
        {{ form.new_password.label }}<br>
        {{ form.new_password(size=32) }}
    </p>
    <p>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}